@page
@model MyRazorPage.Pages.AboutModel
@{
}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
        <partial name="Shared/NavMenuPartial" />
        <h1>Sobre</h1>
        </div>
    </body>
</html>
