@page
@using System.Globalization
@model MyRazorPage.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            // TagHelper
            <partial name="Shared/NavMenuPartial" />
             <h1>Categorias</h1>
            <table>
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Title</td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
         </div>
    </body>
</html>

