@page
@model MyRazorPage.Pages.LoginModel
@{
}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <body>
            <div>
            <partial name="Shared/NavMenuPartial" />
                <h1>Login</h1>
            </div>
        </body>
    </head>
</html>